
@import "../abstracts/variables.scss";

@font-face {
  font-family: AvenirNext;
  src: url(../webFont/AvenirNextLTPro-Regular.otf);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: AvenirNext;
  background: $color_light;
  font-size: 10px;
  margin: 0.5rem 10rem 1.3rem 10rem;
  @media only screen and (max-width: 56.25em) {
     //1rem = 12, 12/16
    margin:0;
}
}

html {
    @media only screen and (max-width: 75em){ // width < 1200?
        font-size: 70%; //1 rem = 9px, 9/16 = 50%
    }
    @media only screen and (max-width: 56.25em) { // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }
    @media only screen and (min-width: 112.5em)  {
        font-size: 75%; //1rem = 12, 12/16
    }
}